<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Splash Screen</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
    <script src="{{ url_for('static', filename='js/scripts.js')}}"></script>
</head>

<body>
    <!-- Splash Screen Container -->
    <div class="splash-container">
        <!-- Splash Screen Image -->
        <img src="{{ url_for('static', filename='images/ss.jpg')}}" alt="Splash Screen" class="splash-image">
        <h1>Species Identification</h1>
    </div>
</body>

</html>